<%- include('header', {title: 'The Blog', cssFile: 'add-posts-css.css'}) %>
<%- include('nav.ejs') %>

<div class="content-container">
    <form action="/add-posts" method="post" class="content-left">
        <div class="left-containter-title">
            <h2> Enter Your Blog Here </h2>
            <hr>
        </div>

        <input type="text" name="title" placeholder="Title of the blog" class="form-inputs" required> 
        <textarea name="blogContent" placeholder="Enter your Blog Content" class="form-inputs" required></textarea>
        <div class="button-box">
            <button type="submit" class="form-buttons"> Save</button>
            <button type="button" onclick=loadViewPosts() class="form-buttons"> Cancel</button>
        </div>
            


    </form>

    <div class="content-right">
        <img src="images/hiranminar.avif">


    </div>

</div>

<%- include('footer.ejs') %>
