<%- include('header', {title: 'The Blog', cssFile: 'main-css.css'}) %>
<%- include('nav.ejs') %>

<div class="mainpage-content-div">
    <div class="mainpage-content-text">
        <h1> The Blog</h1>
        <p> This is a test blog for the Capstone Project and to learn CSS. Here you can create, view and edit/delete posts. <br> Press 'View' to enter </p>
    
        <div> 
            <button type="button"><span></span> View</button>
        </div>
    </div>

</div>

<%- include('footer.ejs') %>
